## Activity 7: Reading Tabular Data from a Web Page and Creating DataFrames

### Step 1:  Open the page in a separate Chrome/Firefox tab and use something like an inspect element tool to view the source HTML and understand its structure.
### Step 2: Read the page using bs4

In [1]:
#First I will import BeautifulSoup and Pandas
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
# First I will read the document and open it from the HTML 
# that I have saved in my files.

fd = open("List of countries by GDP (nominal) - Wikipedia.htm", "r")
soup = BeautifulSoup(fd)
fd.close()

### Step 3: Find the table structure you will need to deal with (how many tables there are?)

In [18]:
# I will use find_all to determine how many tables we have.

tables = soup.find_all("table")
print("We have {} tables".format(len(tables)))

We have 9 tables

## Step 4: Find the right table using bs4

In [19]:
# I will use the find function to locate the right table
# using the bs4
table_right = soup.find("table", {"class": '"wikitable"|}'})
print(type(table_right))

<class 'bs4.element.Tag'>

## Step 5: Separate the source names and their corresponding data

In [21]:
# First I will find the source by using the tbody and findall 
# function and setting the recursive to false
source = table_right.tbody.findAll('tr', recursive=False)[0]
source_amount = [td for td in source.findAll('td')]
print(len(source_amount))

3

In [27]:
# Next I will separate the corresponding data for the tr and td.
cor_data = table_right.tbody.findAll('tr', recursive=False)[1].findAll('td', recursive=False)

In [30]:
# I will find the length of the corresponding data by using a 
# for statement and use append and the findall function for the amount of tables
table_right = []
for td in data: table_right.append(td.findAll('table'))
len(table_right)

3

### Step 6: Get the source names from the list of sources you have created

In [34]:
# Next I will print the source names from the list of sources
names = [source.findAll('a')[0].getText() for source in source_amount]
print(names)

['International Monetary Fund', 'World Bank', 'United Nations']

### Step 7: Separate the header and data from the data that you separated before for the first source only , and then create a DataFrame using that

In [35]:
# First I will separate the headers by using the gettext 
# and strip function in a for statement
header = [th.getText().strip() for th in table_right[0][0].findAll('thead')[0].findAll('th')]
header

['Rank', 'Country', 'GDP(US$MM)']

In [38]:
# Next I will find the rows and strip them and then create a data frame
# by using pandas pd for the row data and header
row = table_right[0][0].findAll('tbody')[0].findAll('tr')[1:]
row_data = [[td.get_text().strip() for td in tr.findAll('td')] for tr in row]
Data_Frame = pd.DataFrame(row_data, columns=header)
Data_Frame

    Rank                         Country  GDP(US$MM)
0      1                   United States  19,390,600
1      2                      China[n 1]  12,014,610
2      3                           Japan   4,872,135
3      4                         Germany   3,684,816
4      5                  United Kingdom   2,624,529
..   ...                             ...         ...
186  186  Federated States of Micronesia         329
187  187                           Palau         321
188  188                Marshall Islands         199
189  189                        Kiribati         186
190  190                          Tuvalu          40

[191 rows x 3 columns]

### Step 8: Repeat the last task for the other two data sources

In [42]:
# Next I will separate the headers by using the gettext 
# and strip function in a for statement for the second header
header_two = [th.getText().strip() for th in table_right[1][0].findAll('thead')[0].findAll('th')]
header_two

['Rank', 'Country', 'GDP(US$MM)']

In [43]:
# Then I will find the rows and strip them and 
row_two = table_right[1][0].findAll('tbody')[0].findAll('tr')[1:]

In [44]:
# Next I will define a function that uses the gettext and strip 
# functions if i==0 and elif i==1 or else
def text_findings(i, td):
    if i == 0:
        return td.getText().strip()
    elif i == 1:
        return td.getText().strip()
    else:
        index = td.text.find("â™ ")
        return td.text[index+1:].strip()

In [45]:
#Then create a data frame by using pandas pd for the row data 
# and header for the second data set
row_two_data = [[text_findings(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in row_two]
Data_Frame_Two = pd.DataFrame(row_two_data, columns=header_two)
Data_Frame_Two

    Rank           Country  GDP(US$MM)
0      1     United States  18,624,475
1      2        China[n 4]  11,218,281
2      3             Japan   4,936,211
3      4           Germany   3,477,796
4      5    United Kingdom   2,647,898
..   ...               ...         ...
206  207  Marshall Islands         209
207  208             Nauru         182
208  209          Kiribati         180
209  210        Montserrat          63
210  211            Tuvalu          38

[211 rows x 3 columns]

In [46]:
# Next I will separate the headers by using the gettext 
# and strip function in a for statement
header_three = [th.getText().strip() for th in table_right[2][0].findAll('thead')[0].findAll('th')]
header_three

['Rank', 'Country', 'GDP(US$MM)']

In [47]:
# Then I will find the rows and strip them and then create a data 
# frame by using pandas pd for the row data and header
row_three = table_right[2][0].findAll('tbody')[0].findAll('tr')[1:]
row_three_data = [[text_findings(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in row_three]
Data_Frame_Three = pd.DataFrame(row_two_data, columns=header_three)
Data_Frame_Three

    Rank           Country  GDP(US$MM)
0      1     United States  18,624,475
1      2        China[n 4]  11,218,281
2      3             Japan   4,936,211
3      4           Germany   3,477,796
4      5    United Kingdom   2,647,898
..   ...               ...         ...
206  207  Marshall Islands         209
207  208             Nauru         182
208  209          Kiribati         180
209  210        Montserrat          63
210  211            Tuvalu          38

[211 rows x 3 columns]