## Weeks 11 and 12 Exercises

In [2]:
# First I will import some needed libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import chardet
import sqlite3

## Step 1: Connect to petsDB and check whether the connection has been successful

In [3]:
# First I will use sqlite3.connect to connect to my pets data base.
Pet_Connect = sqlite3.connect("petsdb")

In [6]:
# Next I will use a function to determine if my connection is successful
def open_pets(Pet_Connect):
    try:
        Pet_Connect.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection finished {}".format(e))
        return False
print(open_pets(Pet_Connect))

True

## Step 2: Find the different age groups in the persons database

In [7]:
# First I will use sqlite3.connect to connect to my pets data base. Then
# I will use cursor to allow me to use a for statement 
Pet_Connect = sqlite3.connect("petsdb")
Cursor_connect = Pet_Connect.cursor()

In [9]:
# Next I will use a for statement to calculate the amount of people and the age group they 
for ppl, age in Cursor_connect.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are {} individuals that are {} years old.".format(ppl, age))

There are 2 individuals that are 5 years old.
There are 1 individuals that are 6 years old.
There are 1 individuals that are 7 years old.
There are 3 individuals that are 8 years old.
There are 1 individuals that are 9 years old.
There are 2 individuals that are 11 years old.
There are 3 individuals that are 12 years old.
There are 1 individuals that are 13 years old.
There are 4 individuals that are 14 years old.
There are 2 individuals that are 16 years old.
There are 2 individuals that are 17 years old.
There are 3 individuals that are 18 years old.
There are 1 individuals that are 19 years old.
There are 3 individuals that are 22 years old.
There are 2 individuals that are 23 years old.
There are 3 individuals that are 24 years old.
There are 2 individuals that are 25 years old.
There are 1 individuals that are 27 years old.
There are 1 individuals that are 30 years old.
There are 3 individuals that are 31 years old.
There are 1 individuals that are 32 years old.
There are 1 individuals that are 33 years old.
There are 2 individuals that are 34 years old.
There are 3 individuals that are 35 years old.
There are 3 individuals that are 36 years old.
There are 1 individuals that are 37 years old.
There are 2 individuals that are 39 years old.
There are 1 individuals that are 40 years old.
There are 1 individuals that are 42 years old.
There are 2 individuals that are 44 years old.
There are 2 individuals that are 48 years old.
There are 1 individuals that are 49 years old.
There are 1 individuals that are 50 years old.
There are 2 individuals that are 51 years old.
There are 2 individuals that are 52 years old.
There are 2 individuals that are 53 years old.
There are 2 individuals that are 54 years old.
There are 1 individuals that are 58 years old.
There are 1 individuals that are 59 years old.
There are 1 individuals that are 60 years old.
There are 1 individuals that are 61 years old.
There are 2 individuals that are 62 years old.
There are 1 individuals that are 63 years old.
There are 2 individuals that are 65 years old.
There are 2 individuals that are 66 years old.
There are 1 individuals that are 67 years old.
There are 3 individuals that are 68 years old.
There are 1 individuals that are 69 years old.
There are 1 individuals that are 70 years old.
There are 4 individuals that are 71 years old.
There are 1 individuals that are 72 years old.
There are 5 individuals that are 73 years old.
There are 3 individuals that are 74 years old.

## Step 3: Find the age group that has the maximum number of people

In [13]:
# Next I will use a for statement to find an individual age group that
# has the highest number of people.
for ppl, age in Cursor_connect.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("People in the age group {} have the maximum number of people of {}".format(age, ppl))
    break

People in the age group 73 have the maximum number of people of 5

## Step 4: Find the people who do not have a last name

In [21]:
# Next I will execute to connect my cursor to find individuals without a last name.
# Then I will use a for statement to print the amount of individuals without a last name.
Missing_Last_Name = Cursor_connect.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in Missing_Last_Name:
    print("We have {} individuals without a last name".format(row[0]))

We have 60 individuals without a last name

## Step 5: Find out how many people have more than one pet.

In [17]:
# Next I will execute to connect my cursor to find individuals that have more than 
# one pet. Then I will use a for statement to print the amount that have more than one pet.
Pet_amount = Cursor_connect.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in Pet_amount:
    print("There are {} individuals that have more than one pet".format(row[0]))

There are 43 individuals that have more than one pet

## Step 6: Find out how many pets have received treatment.

In [20]:
# Next I will use execute to find out how many pets have received 
# treatment and use a for statement to print out the amount.
Pet_Treatment = Cursor_connect.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in Pet_Treatment:
    print("There are {} pets that have received treatment.".format(row[0]))

There are 36 pets that have received treatment.

## Step 7: Find out how many pets have received treatment and the type of pet is known.

In [24]:
# Next I will use execute to find out how many pets have received 
# treatment and the type of pet is known and use a for statement 
# to print out the amount
pets_type = Cursor_connect.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in pets_type:
    print("There are {} pets receiving treatment and type of pet is known.".format(row[0]))

There are 16 pets receiving treatment and type of pet is known.

## Step 8: Find out how many pets are from the city called east port.

In [25]:
east_port = Cursor_connect.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in east_port:
    print("There are {} pets that are from east port".format(row[0]))

There are 49 pets that are from east port

## Step 9: Find out how many pets are from the city called east port and received a treatment.

In [26]:
east_port_treatment = Cursor_connect.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in east_port_treatment:
    print("There are {} pets that are from east port that have had treatment done".format(row[0]))

There are 11 pets that are from east port that have had treatment done